<div class="classLogin">
  <section>
    <h1>Recuperar contrase単a</h1>

    <form id="resetPassword">
      <label>Email</label>
      <input disabled name="email" class="form-control" value={{this.email}} />
      <label>Contrase単a</label>
      <input name="password" type="password" />
      <p id="errorMessage"></p>
      <input name="token" value={{this.token}} type="hidden" />
      <button type="submit">Cambiar Contrase単a</button>
    </form>

   <a href="/">Si no quiere recuperar contrase単a, ir a login</a>

  </section>
 
  
</div>
<script src="/js/reset-user.js"></script>