<div>
  <h1>Recuperación</h1>

  <p>Ingrese su email para recuperar su contraseña</p>

  <form id="recoverpassword">
    <label>Email</label>
    <input name="email" />

    <button type="submit">Enviar Email</button>

  </form>

  <p>¿Ya tienes una cuenta? <a href="/">Ingresa aquí</a></p>
</div>

<script src="/js/reset.js"></script>