* {
    /* text-decoration: none; */
}
  
body {
    font-family: "Montserrat", sans-serif, -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #E2DCD8;
  }

.classLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.classLogin section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #886767;
    padding-bottom: 50px;
    width: 30rem;
    height: auto;
    border-radius: 40px;
}
  
.classLogin img {
    width: 15rem;
    margin-bottom: 1rem;
}
.classLogin h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
  
.classLogin input {
    display: flex;
    border-style: none;
    margin: 0.5rem 0;
    border-radius: 5px;
    height: 2rem;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform 0.2s;
    }
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.products-container button{
    
    border-style: none;
    margin:  0.5px;
    border-radius: 5px;
    height: 2rem;
    &:hover {
        transform: scale(1.1, 1.1);
        transition: transform 0.2s;
    }
}

table {
    border-collapse: collapse; 
    width: 100%;
}

th, td {
    border: 1px solid #a9a9a9; 
    text-align: center;
    padding: 8px; 
}


